html {
	font-family: sans-serif;
	font-size: 115%;
}

body {
	text-align: center;
}

table {
	margin: 0 auto;
}

form {
	background-color: rgb(255, 255, 255);
	width: 40%;
  	margin: 0 auto;
	display: block;
    text-align: center;
}

.button-rm {
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff002234, #ff002234);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: bold;    height: 20px;
  line-height: 20px;
  outline: 0;
  overflow: hidden;
  padding: 0 5px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: center;
  white-space: nowrap;
  z-index: 1;
  border: 0;
  transition: box-shadow .2s;
}

.button-rm:hover {
  box-shadow: rgba(129, 129, 129, 0.678) 0 3px 8px;
}

.button-rm:disabled {
  background-image: linear-gradient(-180deg, #3f3f3f27, #3f3f3f27);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #7c7c7c;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.button-main {
    background-color: initial;
    background-image: linear-gradient(-180deg, #006eff34, #006eff34);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: bold;    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}


.button-main:hover {
    box-shadow: rgba(129, 129, 129, 0.678) 0 3px 8px;
}

.button-main:disabled {
    background-image: linear-gradient(-180deg, #3f3f3f27, #3f3f3f27);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #7c7c7c;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

input {
	margin-right: 10px;
}

input[type=number] {
	width: 100px;
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width:30px;
  height:30px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}
input[type='checkbox']:checked {
  background: #abd;
}

.object-1 {
  width: 800px;
  height: 500px;
  align-items: center;
}

 .logo {
  width: 300px;
  height: 150px;
}